absl-py==0.6.1
astor==0.7.1
attrs==19.3.0
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
comet-git-pure==0.19.15
comet-ml==3.1.4
configobj==5.0.6
contextlib2==0.5.5
coverage==5.1
cycler==0.10.0
decorator==4.4.2
everett==1.0.2
future==0.18.2
gast==0.2.0
grpcio==1.17.0
h5py==2.8.0
hyperopt==0.1.2
idna==2.9
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.1
json-tricks==3.15.2
jsonschema==3.0.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.1.0
Markdown==3.0.1
matplotlib==3.0.3
mock==2.0.0
netifaces==0.10.9
networkx==2.4
nni==1.5
numpy==1.15.4
nvidia-ml-py3==7.352.0
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
pandas==0.24.2
parso==0.7.0
pbr==5.1.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
protobuf==3.6.1
psutil==5.7.0
ptyprocess==0.6.0
pycurl==7.43.0
Pygments==2.6.1
pygobject==3.20.0
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.8.1
PythonWebHDFS==0.2.3
pytz==2019.3
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
schema==0.7.1
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.1
simplejson==3.17.0
six==1.11.0
tensorboard==1.12.0
tensorflow==1.12.0rc2
termcolor==1.1.0
tqdm==4.45.0
traitlets==4.3.3
typing-extensions==3.7.4.2
urllib3==1.25.8
wcwidth==0.1.9
websocket-client==0.57.0
Werkzeug==0.14.1
wurlitzer==2.0.0
